@using AccountingApp.Frontend.Shared.Forms.Fields;
@using AccountingApp.Frontend.Shared.Forms.Abstract;

@inherits CreateBudgetModelBase<BudgetType>

<FormDialog Header="Create new category">
    <Form>
        <MudForm Model="@Model" @bind-IsValid="@IsValidationSuccessful">
            <TypeTextField @bind-BudgetType="@Model"></TypeTextField>
        </MudForm>
    </Form>
    <Buttons>
        <MudButton Variant="Variant.Text" Color="Color.Primary" Class="ml-2"
                   OnClick="@HandleUserSubmit" Disabled="@(!IsValidationSuccessful)">
            Create
        </MudButton>
    </Buttons>
</FormDialog>
