@using AccountingApp.Frontend.Shared.Forms.Fields
@using AccountingApp.Frontend.Shared.Forms.Abstract

@inherits AccountForm

<FormDialog Header="Login">
    <Form>
        <MudForm Model="@User" @bind-IsValid="@_isValidationSuccessful">
            <EmailField @bind-User="@User" />
            <PasswordField @bind-User="@User" />
        </MudForm>
    </Form>
    <Buttons>
        <MudButton Variant="Variant.Text" Color="Color.Secondary" Class="mr-auto"
                   OnClick="@OpenRegisterDialog">
            Create account
        </MudButton>
        <MudButton Variant="Variant.Text" Color="Color.Primary" Class="ml-2"
                   OnClick="@HandleUserSubmit" Disabled="@(!_isValidationSuccessful)">
            Login
        </MudButton>
    </Buttons>
</FormDialog>

<MudOverlay Visible="IsOverlayVisible" DarkBackground="true" Absolute="true">
    <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
</MudOverlay>

@code {

    protected override async Task SignOperation()
    {
        ShowOverlay();
        await Account.Login(User);
        HideOverlay();
    }

    protected void OpenRegisterDialog()
    {
        MudDialog.Close();
        DialogService.Show<Register>();
    }
}
